:root{
    --font-principal: 'Raleway';
    --font-secundaria: 'DM Sans';
    --cor-primaria: #040b14;
    --cor-secundaria: #f4f6fd;
    --cor-texto: #f4f6fd;
    --cor-texto-secundaria: #000;
    --cor-icone: #f4f6fd;
    --cor-icone-secundaria: #149ddd;
    --cor-sombra: #2c2f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: var(--font-principal), sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-secundaria);
}

h1 {
    color: var(--cor-texto);
    font-size: 28px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    overflow-y: hidden;
}

@media screen and (max-width: 768px){
    .container {
        overflow-y: auto;

    }    
}

/* Título das páginas*/
.section-title {
    color: var(--cor-texto-secundaria);
    margin-left: 320px;
    margin-bottom: 30px;
    overflow: hidden;
}

.section-title h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: var(--cor-primaria);
    margin-top: 5px;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 768px){
    .section-title {
        margin-left: 0;
        text-align: center;
    }
    
    .section-title h2::after{
       display: none;
    }
}
/* HEADER da página*/ 
header {
    width: 23%;
    height: 100vh;
    background-color: var(--cor-primaria);
    display: block;
}

.header {
    position: fixed;
    width: 300px;
    z-index: 99;
    padding: 0 15px;
    overflow-y: hidden;
}

.header-image {
    width: 120px;
    height: 120px;
    border: 8px solid var(--cor-sombra);
    border-radius: 50%; 
}

.header h1 {
    margin-top: 5px;
}

.subheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 8px;
}

.header-icons a:hover i{
    animation: translateY 0.7s infinite alternate;
    color:var(--cor-icone-secundaria);
}
  
@keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
}

.background-icon {
    background-color: var(--cor-sombra);
    color: var(--cor-icone);
    border-radius: 50%;
    border: 10px solid var(--cor-sombra);
}

.navbar {
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.navbar a {
    color: var(--cor-icone);
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--cor-sombra);
}

.navbar span {
    padding: 10px;
}

footer{
    color: var(--cor-texto);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 25px;
    left: 25px;

}

@media screen and (max-width: 768px){
    header {
        width: 100%;
        height: 100vh;
    }

    .header {
        width: 100%;
        position: relative;
    }

    .navbar {
        align-items: center;
    }

    footer{
        position:static;
        margin-top: 45px;
    }
}

/* Tela Inicial */
.background-image{
    width: 100%;
    height: 100vh;
    background-image: url(assets/ST204325549.jpg);
    background-size: cover;
    opacity: 0.8;
    margin-left: 10%;
}

@media screen and (max-width: 768px){
    .background-image {
        margin-left: 0;
    }    
}


/* Sobre */
.about-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.about-info {
    margin-left: 320px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.info {
    background-color: #FFF;
    width: 75%;
    height: 400px;
    margin-left: 320px;
    margin-right: 30px;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.img-info {
    height: 350px;
    width: 250px;
}

.me-info {
    color: var(--cor-texto-secundaria);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 20px;
    text-indent: 10px;
    line-height: 1.5; /* Define a altura da linha */    
}

.me-info h3 {
    color: var(--cor-texto-secundaria);
    text-align: center;
    margin-bottom: 5px;
}

.person {
    columns: 2;
    margin: 20px 0;
}

.quality {
    margin-top: 20px;
}

.quality p {
    margin-bottom: 5px;
}

@media screen and (max-width: 768px){
    .about-container {
        height: auto;
        align-items: center;
    }
    .about-info {
        text-align: center;
        margin-left: 5%;
    }  
    .info {
        width: 75%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}

/* Projetos */
.project-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.project {
    margin-left: 320px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.proj {
    height: 480px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.proj img {
    width: 280px;
    height: 200px;
    margin: 10px;
    transition: transform 0.5s;
}

.proj img:hover {
    transform: scale(1.1);
    z-index: 1;
  }

.proj p {
    margin: 10px;
    text-indent: 5px;
    line-height: 1.4; /* Define a altura da linha */
}

@media screen and (max-width: 768px) {
    .project-container {
        height: auto;
    }    

    .project {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;       
    } 
}


/* Contatos */
.contact {
    height: 100vh;
    width: 100%;
}

.order-contact {  
    height: 80vh;
    width: 70%;
    margin-left: 320px;
    margin-right: 20px;
    background-color: #FFF;  
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12)
}

.contact-icon {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
    padding: 20px;
    gap: 30px;
}

.contact-icon a:hover i{
    animation: translateY 0.7s infinite alternate;
}
      
@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
}

.order-icon {
    display: flex;
    gap: 15px;
}

.icon-whatsapp {
    background-color: darkgreen;
    border-color: darkgreen;
}

.icon-email {
    background-color: crimson;
    border-color:crimson;
}

.text-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-contact iframe {
    height: 80%;
    width: 50%;
}

@media screen and (max-width: 1100px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .order-contact {
        width: auto; 
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    .contact-icon {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .order-contact iframe {
        height: 250px;
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .order-contact {  
        margin-left: 0;  
    }
}